/*estilos de usuarios*/

.detallesUsuarios{
    display: flex;
    background-color: rgb(127, 151, 48);
    
    width: 300px;
    justify-content: space-around;

}
.posicionamientousuarios{
    display: flex;
    
   

    justify-content: center;
    



}

.tarjetaU{
    display: flex;
    width: 270px;
    height: 240px;
    margin: 25px; padding: 4px,4%;

}




/*estilos de peluches*/

.enunciado{
    color: blue;
}

.detallespeluches{
    display: flex;
    background-color: rgb(218, 182, 24);
    height: 260px;
    width: 237px;
    justify-content: space-around;



}
.articulos{

    display: flex;
    flex-direction: row;
    
    
}
.letras{
    height: 50px
    ;
}

.tarjeta{
    display: flex;
    width: 240px;
    height: 240px;
    margin: 25px;

}


.posicionespeluches{
    display: flex;

    justify-content: center;
    


}
.descripcionU{
    display: flex;
    
    width: 260px; height:220px;
    align-items:flex-end ;
    
}
.detalles{
    height: 30px;
}






/*estilos de usuario con peluche */


.enunciadoUCP{
    color: rgb(3, 6, 192);
    justify-content: center;
}


.articulosUCP{

    display: flex;
    flex-direction: row;
   
    
    
}

.tarjetaUCP{ 
    
    display: flex;
    width: 690px;
    height: 140px;
    margin:5px;
    justify-content: center;

}


.posicionesUsuarioConPeluches{
    display: flex;

    justify-content: center;
    


}
.detallesusuariopeluches{
    display: flex;
    background-color: rgb(218, 182, 24);
    height: 292px;
    width: 430px;
   
    justify-content: space-around;
    
    



}
.descripcion{
    display: flex;
    align-items: end;
}

/*media query*/

@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }
  



